#root {
  /* max-width: 1280px;
  margin: 0, auto;
  padding: 2rem;
  text-align: center; */
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url('/Users/sherinabuenaseda/Development/code/phase-5/Phase-5-Python-Flask-React-Chart-Dashboard/client/src/assets/PaperStyle.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.LoginContainer {
  background-color: white;
  border: 1px solid #ccc;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.LoginForm {
  text-align: center;
  vertical-align:middle;
  position: fixed;
}

.NavBar {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px; 
   position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
} 

.App {
  text-align:center;
  display:flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 100px;
  align-items: center;
  justify-content: top;
  height: 100vh;
  /* background-color: rgb(185, 184, 178);  */
  /* background-image: linear-gradient(79deg,#fdfd0c, #fcedfc 48%, #ebf6ff);   */
}


/* .auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
} */

/* .auth-form-container{
  padding: 5rem;
} */

label {
  text-align: left;
  padding: 0.25rem 0;
} 

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}



/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

